In [1]:
import pandas as pd 
import numpy as np
from sklearn.preprocessing import MinMaxScaler
from sklearn.decomposition import PCA

In [2]:
set_1 = pd.read_csv('mean_ratings_set1.csv')
set_2 = pd.read_csv('mean_ratings_set2.csv')

In [3]:
#Removendo linhas que possuam atributo target == Happy e atributo target == Sad, pois s√£o multiclasse

set_1 = set_1[set_1['TARGET'] != 'HAPPY']
set_2 = set_2[set_2['TARGET'] != 'HAPPY']

set_1 = set_1[set_1['TARGET'] != 'SAD']
set_2 = set_2[set_2['TARGET'] != 'SAD']

set_2 = set_2.drop(['soundtrack', 'link'], axis=1)

In [4]:
set_1.head()

    number  valence  energy  tension  anger  fear  happy   sad  tender  TARGET
60      61     5.80    2.80      2.4    1.0   1.0   5.83  2.00    7.83  TENDER
61      62     6.83    4.33      2.5    1.0   1.0   2.20  2.80    7.60  TENDER
62      63     5.83    2.00      2.0    1.0   1.0   1.60  4.40    7.40  TENDER
63      64     6.60    2.40      1.2    1.0   1.0   4.17  1.50    7.17  TENDER
64      65     6.40    3.20      1.8    1.0   1.0   4.50  2.17    7.17  TENDER

In [5]:
set_2.head()

,Number,Valence,Energy,Tension,Anger,Fear,Happy,Sad,Tender,Beauty,Liking,TARGET
0,1,2.56,7.73,8.38,6.39,4.40,1.21,1.75,1.01,4.71,4.97,ANGER_HIGH
1,2,2.50,8.21,8.56,5.76,5.93,1.09,1.60,1.10,4.57,4.79,ANGER_HIGH
2,3,2.92,8.21,8.17,6.31,4.06,1.31,1.55,1.01,4.45,5.06,ANGER_HIGH
3,4,2.88,6.75,7.98,5.42,4.51,1.19,2.10,1.06,4.00,4.35,ANGER_HIGH
4,5,3.08,6.83,7.50,6.13,4.24,1.07,2.96,1.07,5.08,5.35,ANGER_HIGH

In [8]:

#Pegar os valores √∫nicos de target --> Usando estrutura de dados SET python


targets_values_set1 = set((set_1['TARGET'].values))
targets_values_set2 = set((set_2['TARGET'].values))

targets_values = targets_values_set1 | targets_values_set2

targets_values

{'ANGER',
 'ANGER_HIGH',
 'ANGER_MODERATE',
 'ENERGY NEG HIGH',
 'ENERGY NEG MODERATE',
 'ENERGY POS HIGH',
 'ENERGY POS MODERATE',
 'FEAR',
 'FEAR_HIGH',
 'FEAR_MODERATE',
 'HAPPY_HIGH',
 'HAPPY_MODERATE',
 'HIGH ENERGY',
 'HIGH TENSION',
 'HIGH VALENCE',
 'LOW ENERGY',
 'LOW TENSION',
 'LOW VALENCE',
 'SAD_HIGH',
 'SAD_MODERATE',
 'SURPRISE',
 'TENDER',
 'TENDER_HIGH',
 'TENDER_MODERATE',
 'TENSION NEG HIGH',
 'TENSION NEG MODERATE',
 'TENSION POS HIGH',
 'TENSION POS MODERATE',
 'VALENCE NEG HIGH',
 'VALENCE NEG MODERATE',
 'VALENCE POS HIGH',
 'VALENCE POS MODERATE'}

In [9]:
#classificar os targets_values em 8 cores diferentes emm formato rgb

cor = {"AZUL":(0,0,255), "VERMELHO":(255,0,0), "VERDE":(0,255,0), "AMARELO":(255,255,0), "ROSA":(255,0,255), "LARANJA":(255,128,0), "MARROM":(128,64,0), "CINZA":(128,128,128)}

In [ ]:
def Transformacao_Linear(df):
    
    y = df['TARGET']
    x = df.drop(['TARGET'], axis=1)
    
    
    num_components = 3
    
    pca = PCA(n_components=num_components)
    
    pca.fit(x)
    
    print("Autovalores: ", pca.explained_variance_ratio_, "\n\n","Autovetores: ", pca.components_, "\n\n")
    
    #transformando os dados em vetor rgb    
    
    x = pca.transform(x)
    
    df.head()
    
    
    x.info()

In [ ]:
'''def transformacao_linear(df):
    
    y = df['TARGET']
    x = df.drop(['TARGET'], axis=1)
   
    
    print(x.head())
    
    num_components = 3
    
    scaler = MinMaxScaler()
    normalized_features = scaler.fit_transform(x)
    
    print(normalized_features)

    
    pca = PCA(n_components=num_components)
    
    Tx = pca.fit_transform(normalized_features)
     
    
    
    
    df_result = pd.DataFrame(x, columns=['RGB'])
    
    #prencher cada linha do dataframe com a cor correspondente ao target transformado
    
    for i in range(len(Tx)):
        
        transformado = Tx[i]
        rgb = tuple(int(foreground * 255) for foreground in transformado)
        df_result['RGB'][i] = rgb
       
    df_result['TARGET'] = y
    
    
    
    df_result.head()
    
    print("\n\nAutovalores: ", pca.explained_variance_, "\n","Autovetores: ", pca.components_, "\n", "Vari√¢ncia Explicada: ", pca.explained_variance_ratio_);
    
'''

In [ ]:
Transformacao_Linear(set_1)